@page "/"

@using BlazorWasmBlog.Modules.SquidexCms.Configuration

@inject SquidexCmsConfiguration CmsConfiguration

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (string.IsNullOrEmpty(SquidexAppNameSetting))
{
   <span>Loading squidex settings...</span>
}
else
{
    <h3>Squidex Application</h3>
    <span>@SquidexAppNameSetting</span>
}

@code {
    string SquidexAppNameSetting = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        SquidexAppNameSetting = $"{nameof(CmsConfiguration.AppName)}: {CmsConfiguration.AppName}";

        await base.OnInitializedAsync();
    }
}